.add-task-from {
    width: 100%;
    @include flex-col-center-start;
    font-size: 16px;
    & textarea {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        line-height: 1.5;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        resize: none;
        &:focus {
            border-color: $primary-color;
            outline: none;
        }
    }
    & button {
        @include button;
    }
}
