.tasks {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.task {
  width: 100%;
  margin: 5px;
  @include flex-center-sp-btwn;
  color: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  & span {
    margin-left: 10px;
  }
  & .btns {
    width: 25%;
    margin-right: 10px;
    @include flex-col-center-start;
  }
  & button {
    @include button;
  }
  & .btn-update {
    background-color: $warning-color;
    padding: 10px 17px;
  }
}
.task-text {
  cursor: pointer;
  width: 60%;
  & p {
    height: auto;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    word-break: break-word;
  }
  & span {
    background-color: $warning-color;
  }
}
